<footer>
    <div class="container float-left">
        <div class="row">
            <div class="col-sm-4">
                    <p><i class="fa fa-copyright"></i><%= copyright %></p>
            </div>
            <div class="col-sm-4">
            </div>
            <div class="col-sm-4">
                <div class="social-media-icons">
                    <a href="#"><i class="fa fa-android"></i></a>
                    <a href="#"><i class="fa fa-cc-visa"></i></a>
                    <a href="#"><i class="fa fa-cc-mastercard"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>